.personal-info {
  background: red;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0.2rem;
  margin-top: 2rem;
  padding: 20px;
  height: 60px;

  .profile-pic-button,
  .create-post-button {
    padding: 0.7rem 1.9rem;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 0.2rem;
  }

  .create-post-button {
    color: white;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
  }
}
